<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.board.model.dao.ReportDao">
	
	
	<!-- 게시판 -->
	<select id="selectAll" resultType="Report">
		SELECT *
		FROM report
	</select>
	
	<select id="getContent" resultType="String" parameterType="map">
		SELECT t.content
		FROM ${type} t
		WHERE
		t.id = #{c_id}
	</select>	
	
	<select id="getReport" resultType="Report" parameterType="int">
		SELECT *
		FROM report
		where id = #{id}
	</select>

	<insert id="insertReport" parameterType="Report">
		INSERT INTO report
		VALUES(#{id},#{contentType}, #{contentId}, #{contentContent},#{reportContent})
	</insert>
	
</mapper>