body, label, html, .all, div, .choice, .board-box, .choice-text, .choice-img img, .winner-container, .winner {
    cursor: url("../public/hyojason.png"), auto;
  }
  
  button, a, .board-box:hover, .sec:hover, .fir:hover, select, RouterLink{
    cursor: url("../public/Chyojason.png"), auto;
  }
  
  input, s, textarea {
    cursor: url("../public/Ihyojason2.png"), auto;
  }